* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serifs;
}



nav{
    background-color: rgb(64, 122, 239);
    color: white;
    height: 5vh;
    display: flex;
}

#h1nav{
    margin-left: 5vw;
    
}
ul {
    list-style: none; /* Remove os marcadores da lista */
    display: flex; /* Exibe a lista como flexbox */
}

ul li {
    margin-right: 10px; /* Espaço entre os itens da lista */
    margin-top: 0.8vw;
    cursor:pointer;
}
ul :nth-child(1){
    margin-left: 48vw;
}
body{
    background-color: rgb(216, 219, 219);
}

#imagemloja{
    margin-top: 4vh;
    margin-left: 4.5vw;
}
#sobre{
    float: right;

}
.h1azul{
    color: rgb(64, 122, 239);
    font-size:x-large;
    margin-right: 50vw;
    margin-top: 2vw;
}

hr{
    border: none;
    border-top: 0.3vh solid rgb(64, 122, 239); /* Cor e espessura da linha */
    margin-top: 2vh; /* Espaçamento acima e abaixo da linha */
    margin-bottom: 2vh; /* Espaçamento acima e abaixo da linha */
    margin-right: 4vw;
}

#psobre{
    margin-right: 2vw;
    max-width: 40vw;
    min-width: 20vw;
}

#productsh1{
    margin-left: 10vw;
}

#productshr{
    margin-left: 10vw;
}
.card {
    width: 100%;
    margin: 0.2vw;
    padding: 1vw;
    text-align: center;
    display: inline-block; /* Adicione esta linha para colocar os cards lado a lado */
}

.pproduto{
    max-width: 10vw;
    padding-left: 9vw;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    column-gap: 1%;
    margin-bottom:32px;
}

button{
    color: fff;
    background-color: rgb(64, 122, 239);
    padding: 8px, 32px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    cursor:pointer;
    font-size:16px;
    width: 100%;
    margin-bottom:30px;

}
#divnone{
    display: none;
}

@media (min-width: 641px) and (max-width: 1023px) {
    body{
        display: flex;
       flex-direction: column;
    }
    .container, .products{
        color:rgb(216, 219, 219);
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 colunas iguais */
        gap: 1vw; /* Espaçamento entre os itens */
    }
    #sobre{
        float: none; /* Remove o alinhamento à direita para telas de tablet */
        clear: both; /* Limpa flutuações anteriores */
        margin-top: 1vh; /* Adiciona um espaçamento no topo para mover o elemento para baixo */
    }
    #psobre{
        margin-right: 0.2vw;
        max-width: 80vw;
        color:#000000;
    }
    #imagemloja{
        padding-left: 16vw;
        width: 70vw;
    }
    #h1nav{
        font-size: xx-large;
        margin-top: 1vh;
    }
    ul :nth-child(1){
        margin-left: 15vw;
    }
    li{
        padding-top: 0.4vh;
        font-size: medium;
       padding-top: 1.2vh;
    }
    #li1{
        margin-left: 35vw;
    }
    #nth1{
        margin-left: 0vw;
    }
    .imgcard{
        height: 40vh;
        width: 40vw;
        margin-left: 2vw;
    }
    .pproduto, h3{
        color:#000000;
    }
    h3{
        padding-right: 6vw;
    }
    .pproduto{
        padding-left: 15vw;
        text-align: center;
    }
    button{
        
        border-radius: 0.4vw;
        width:20vw;
        margin-left: 1.5vw;
    }
    .pproduto{
        margin-left: 6.2vw;
    }
    h3{
        margin-left: 8.7vw;
    }
    #productshr{
        border: none;
        border-top: 0.3vh solid rgb(64, 122, 239); /* Cor e espessura da linha */
        margin-top: 2vh; /* Espaçamento acima e abaixo da linha */
        margin-bottom: 2vh; /* Espaçamento acima e abaixo da linha */
        margin-right: 3vw;
        margin-left: 1vw;
    }
    #productsh1{
        margin-top: 0.3vh;
        margin-left: 0vw;
    }
    .h1azul{
        width:20vw;
    }
    hr, #psobre, #h1sobre, #imagemloja{
        margin-left: 1vw;
    }
    #divnone{
        display: none;
    }
    nav{
        height: 8.5vh;
    }
    #productsh1{
        margin-left: 8px;
    }
}
@media (max-width: 640px) {
    #psobre{
        margin-left: 32px;
    }
    #divnone{
        display: block;
        
    }
    .cards{
        display: block;
        width:100%;
    }
    #sobre{
        display:block;
        max-width:100%;
    }
    #psobre{
        max-width: 80%;
        margin: 0, auto;
        color:#000000;
    }
    .pproduto, h3{
        color:#000000;
       
    }
    .pproduto{
        padding-left: 33vw;
    }
    button {
        width: 80%;
    }
    #h1nav{
        font-size: large;
        margin-left: 1vw;
    }
    #imagemloja {
        display: block;
        margin: 0 auto;
       width:90vw;
        padding: 0 32px;
    }
    .products {
        display: block;
        width: 80%;
    }
    
    .imgcard {
        width: 100%;
    }
    
    
    .card {
        margin: 0 32px;
    }

    button {
        width: 100%;
    }

    header nav li {
        display: inline-block;
        margin: 4px 0;
        font-size: medium;
    }
    
}